Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is the collection of data stored in a common place/location.

An SQL database is also known as a relational database. It’s the more rigid, structured way of storing data especially in the form of tables.

A Non SQL is the non relational database where the data are stored other than relational tables such as documents, text file etc.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like 
CREATE -create a new table in SQL

ALTER - add, delete or change columns in the existing table

TRUNCATE - remove all rows from the table, but the structure of the table still exists.

DROP - remove an existing table along with its structure

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML - Data Manipulation Language - deals with the manipulation of data present in the database
INSERT -used to insert data into a table.

UPDATE -used to update existing data within a table.

DELETE -used to delete records from a database table.

Q4. What is DQL? Explain SELECT with an example.

DQL -Data Query Language -used for performing queries on the data

SELECT - It is used to retrieve data from the database.

Q5. Explain Primary Key and Foreign Key.

A primary key is a key used to ensure that data in the specific column is unique. It is an unique identity for the data and it is used to access the data.	Only one primary key is allowed in a table.

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. There can be more than one foreign also.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

Cursor() - It is an object that is used to make the connection for executing SQL queries.

Execute() - It is used to run SQL commands that we give.

syntax -cursor_object=connection_object.execute(“sql query”);

Q7. Give the order of execution of SQL clauses in an SQL query.

Queries will be executed in the following order.

FROM [table name]
    ON [MyCondition]
  JOIN [MyJoinedTable]
 WHERE [...]
 GROUP BY [...]
HAVING [...]
SELECT [...]
 ORDER BY [...]